<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Platforms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Explore Platforms</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Skeleton Loaders for Platform List -->
  <div *ngIf="loading">
    <ion-item *ngFor="let _ of [1, 2, 3, 4]" class="platform-item">
      <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
    </ion-item>
  </div>

  <!-- Platform List -->
  <ion-list *ngIf="!loading">
    <ion-item button routerLink="/platform-details/Sony" class="platform-item sony">
      <ion-icon name="logo-playstation" slot="start"></ion-icon>
      Sony PlayStation
    </ion-item>
    <ion-item button routerLink="/platform-details/Microsoft" class="platform-item microsoft">
      <ion-icon name="logo-xbox" slot="start"></ion-icon>
      Microsoft Xbox
    </ion-item>
    <ion-item button routerLink="/platform-details/Nintendo" class="platform-item nintendo">
      <ion-icon name="game-controller" slot="start"></ion-icon>
      Nintendo
    </ion-item>
    <ion-item button routerLink="/platform-details/PC" class="platform-item pc">
      <ion-icon name="desktop-outline" slot="start"></ion-icon>
      PC Gaming
    </ion-item>
  </ion-list>

  <!-- Skeleton Loaders for Highlighted Games -->
  <div *ngIf="loading">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let _ of [1, 2, 3, 4]">
          <ion-card>
            <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Highlighted Games -->
  <ion-card *ngIf="!loading">
    <ion-card-header>
      <ion-card-title>Highlighted Games</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card button routerLink="/game-details/5">
              <img src="assets/Images/GT7.jpg" alt="GT7" />
              <ion-card-header>
                <ion-card-title>Gran Turismo 7</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card button routerLink="/game-details/12">
              <img src="assets/Images/StarField.jpeg" alt="StarField" />
              <ion-card-header>
                <ion-card-title>StarField</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-card button routerLink="/game-details/22">
              <img src="assets/Images/SMOdyssey.png" alt="Super Mario Odyssey" />
              <ion-card-header>
                <ion-card-title>Super Mario Odyssey</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card button routerLink="/game-details/37">
              <img src="assets/Images/hades.png" alt="Hades" />
              <ion-card-header>
                <ion-card-title>Hades</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
